#!/bin/bash
CRM_MASTER=`crm status | grep gitlab_ | awk '{ print $4 }'`
if [ "$CRM_MASTER" == "`hostname --fqdn`" ] && [ "$1" != "--force" ]; then
  echo We are master! Please, run this script on the replication node!
  exit
fi

PORT="<%= @port %>"
echo Enter internal ip of primary redis server
read HOST
echo Enter password of primary redis server
read -s PASSWORD

echo Stop redis
gitlab-ctl once redis
gitlab-ctl kill redis
gitlab-ctl stop

echo Backup redis.conf
mv /var/opt/gitlab/redis/redis.conf /var/opt/gitlab/

echo Cleaning up old redis directory
sudo -u gitlab-redis rm -rf /var/opt/gitlab/redis/*

echo Restore redis.conf
mv /var/opt/gitlab/redis.conf /var/opt/gitlab/redis/

echo Starting redis
gitlab-ctl start

echo Start redis replication
/opt/gitlab/embedded/bin/redis-cli <<EOF
auth $PASSWORD
config set masterauth $PASSWORD
slaveof $HOST $PORT
EOF
